.clor-white{
    background-color: white;
}

.top-bar{
    position: fixed;
    float: left;
    width: 100%;
    height: 35px;
    background-color: rgb(112, 112, 112);
    z-index: 1;
}

#logo-title{
    position: relative;
    float: left;
    width: 300px;
    height: 100%;
    overflow: hidden;
}

#logo-title img{
    position: relative;
    float: left;
    height: 80%;
    margin-top: 5px;
    width: auto;
    margin-left: 10px;
}

#logo-title span{
    position: relative;
    float: left;
    margin-left: 10px;

    margin-top: 6px;

    font-size: large;
}

#input-text-title{
    float: left;
    position: relative;
    width: 80px;
    padding: 3px;
    margin-top: 5px;
    margin-left: 9px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.411);
    font-size: 14px;
    text-align: center;
}

#logout{
    position: relative;
    float: right;
    right: 0px;
    top: 0px;
    padding: 5px 11px 6px 11px;
    color: white;
    width: auto;
    text-align: center;
    margin-top: 0px;
    background-color: tomato;
    cursor: pointer;
}
.left-bar{
    position: fixed;
    float: left;
    width: auto;
    background-color: rgb(112, 112, 112);
    color: white;
    height: calc(100% - 35px);
    margin-top: 35px;
    z-index: 1;
}


.switchbtn{
    position: relative;
    float: left;
    width: auto;
    margin-left: 11px;
    height: auto;
}
.switchbtn span{
    float: left;
    position: relative;
    padding: 6px 10px;
    background-color: rgb(187, 187, 187);
    margin-left: 10px;
    color: white;
    cursor: pointer;
}


.switchbtn_table{
    position: relative;
    float: left;
    width: auto;
    height: auto;
    margin-left: 1px;
}
.switchbtn_table span{
    float: left;
    position: relative;
    padding: 3px 7px;
    background-color: rgb(187, 187, 187);
    color: white;
    cursor: pointer;
}



#activeswitchbar{
    background-color: tomato;
}

.left-bar div{
    position: relative;
    padding: 15px 30px;
    border-top: 1pt solid rgba(158, 158, 158, 0.185);
    font-size: 14px;
    height: auto;
    overflow: hidden;
    cursor: pointer;
}

.left-bar div:not(.item-many):hover{
    color: tomato;
}

.item-many p{
    padding-left: 10px;
    padding-top: 13px;
}



.item-many p:first-child{
    clear: both;
    padding-left: 0px;
    padding-top: 0px;
}

.item-temp:hover{
    color: tomato;
}



  .item-many:hover > .item-temp {
    display: block;
    opacity: 1;
  }



.left-bar div:first-child{
    background-color: rgb(47, 55, 70);
    height: 27px;
}

.left-bar div:first-child span{
    float: left;
    margin-top: 4px;
    margin-left: 8px;   
}
.left-bar div:first-child svg{
    float: left;
    fill: rgba(218, 218, 218, 0.616);
    margin-top: -4px;
}




#name-user{
    color: rgb(42, 255, 148);
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 10px;
    width: auto;
    float: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#head-bar select{
    position: relative;
    float: left;
    width: 100px;
    padding: 5px;
}
#head-bar input{
    position: relative;
    float: left;
    width: 50px;
    padding: 6px;
    border-radius: 3px;
    outline: none;
    margin-left: 10px;
}
#head-bar button{
    position: relative;
    float: left;
    margin-left: 5px;
    margin-top: 4px;
    padding: 3px 7px;
    outline: none;
    border: none;
    color: white;
    border-radius: 1px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 2px;

}

/* #head-bar button:first-child,#head-bar button:last-child{
    background-color: cornflowerblue;
}

#head-bar button:nth-child(2){
    background-color: tomato;
} */

#input-khoa{
    position: relative;
    float: left;
}

.select-combox-headbar{
    position: relative;
    float: left;
}
.title-combox-headbar{
    position: relative;
    float: left;
    margin-top: 8px;
    margin-right: 10px;
    font-weight: bold;
    color: rgb(88, 88, 88);
}




.content{
    position: relative;
    float: left;
    margin-left: 250px;
    margin-top: 70px;
    width: calc(100% - 300px);
    padding-bottom: 50px;
    height: auto;
    z-index: 0;
}


#head-bar{
    position: relative;
    float: left;
    background-color:rgb(255, 255, 255);
    width: 100%;
    margin-top: 1px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 0px;
    border-radius: 3px;
    box-shadow: 0 0px 5px -4px black;
}


.label-bar{
    position: relative;
    float: left;
    background-color:rgb(255, 255, 255);
    width: calc(100% - 82px);
    margin-left: 1px;
    margin-top: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 0px;
    border-radius: 3px;
    box-shadow: 0 0px 5px -4px black;
}


#button-bar{
    position: relative;
    float: left;
    background-color:rgb(255, 255, 255);
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 0px;
    margin-top: 1px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    box-shadow: 0 0px 5px -4px black;
}


.switch-bar{
    position: relative;
    float: left;
    background-color:transparent;
    width: 100%;
    margin-top: 5px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}

#detail-bar{
    position: relative;
    float: left;
    background-color:transparent;
    width: 100%;
    margin-top: 5px;
    border-radius: 3px;
    color: black;
    font-weight: bold;
    height: 5px;
}


#xxxdetail-bar{
    position: relative;
    float: left;
    background-color:transparent;
    width: 100%;
    margin-top: 5px;
    border-radius: 3px;
    color: black;
    font-weight: bold;
    height: 5px;
}


#thongtin-doan{
    position: relative;
}



#button-bar svg{
    float: left;
    fill: rgb(0, 0, 0);
    margin-top: 7px;
}
#button-bar div:not(#button-bar div:last-child){
    color: rgb(78, 78, 78);
}
#button-bar i{
    margin-top: 11px;
    margin-left: 10px;
    float: left;
    color: black;
}

#name-item{
    margin-top: 7px;
    margin-left: 10px;
    float: left; 
}

#button-item{
    float: left;
    position: relative;
    color: rgb(255, 255, 255);
    background-color: rgb(19, 161, 83);
    margin-left: 20px;
    padding: 7px 8px;
    border-radius: 3%;
    cursor: pointer;
}

#button-item svg{
    float: left;
    margin: 0;
    margin-right: 10px;
    fill: white;
    margin-top: 3px;
    cursor: pointer;
}


#button-item-left{
    float: right;
    position: relative;
    color: rgb(255, 255, 255);
    background-color: rgb(66, 121, 116);
    margin-right: 10px;
    margin-top: 1px;
    padding: 6px 8px;
    border-radius: 3%;
    cursor: pointer;
}

#button-item-left svg{
    float: left;
    margin: 0;
    margin-right: 10px;
    fill: white;
    margin-top: 3px;
    cursor: pointer;
}



#leave-btn{
    float: left;
    position: relative;
    color: white;
    background-color: cornflowerblue;
    margin-left: 20px;
    padding: 7px 8px;
    border-radius: 3%;
    cursor:pointer;
}

#leave-btn svg{
    float: left;
    margin: 0;
    margin-right: 10px;
    fill: white;
    margin-top: 3px;
}







.chose-bar{
    position: relative;
    float: left;
    background-color: transparent;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.chose-bar select {
    min-width: 150px;
    height: 30px;
    outline: none;
    border: 1px solid rgba(93, 93, 93, 0.507);
    background-color: white;
}

.chose-bar input{
    min-width: 150px;
    height: 28px;
    padding: 0px 10px;
    outline: none;
    border: 1px solid rgba(93, 93, 93, 0.507);
    background-color: white;
}

.chose-bar button{
    height: 28px;
    padding: 0px 10px;
    outline: none;
    margin-left: 5px;
    color: white;
    cursor:pointer;
    outline: none;
    border: none;
    border-radius: 5px;
}

table{
    position: relative;
    float: left;
    margin-top: 10px;
    width: calc(100%);
    background-color: rgb(255, 255, 255);
    /* border-collapse: collapse; */
    border-radius: 3px;
    font-size: 14px;
    box-shadow: 0 0px 5px -4px black;
}


table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.144);
    cursor: pointer;
}

.thead-dark{
    background-color: transparent;
    color: black;
}

.yes-color-lum-table{
    background-color: rgb(143, 143, 143);
    color: rgb(255, 255, 255);
    border: 0px;
}

.yes-color-lum-table td{
    background-color: rgb(143, 143, 143);
    color: rgb(255, 255, 255);
    border: 0px;
}



.no-color-lum-table td{
    background-color: white;
    color: black;
}


  th, td {
      padding: 10px 10px;
  }

  /* table tr:first-child td{
    background-color: transparent;
    font-weight: 300; 
    border: 1px solid rgba(0, 0, 0, 0.63);
} */
/* .thead-dark{
    background-color: black;
} */

/* table tr:first-child td{
    background-color: transparent;
    font-weight: 300; 
    border: 1px solid rgba(0, 0, 0, 0.144);
} */

.edit-co-btn{
    background-color: rgb(73, 109, 38);
    width: 50px;
    float: left;
    text-align: center;
    margin: 5px;
    padding: 3px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-follow-row{
    position: relative;
    margin-top: 10px;
    float: left;
    height: auto;
    width: auto;
    float: right;
}

.btn-follow-row div{
    width: auto;
    float: left;
    text-align: center;
    margin: 5px;
    padding: 3px 7px;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: 500;
    outline: none;
}

#no-color-btn-follow-row div:first-child{
    background-color: rgba(70, 100, 145, 0.233);
}
#no-color-btn-follow-row div:nth-child(2){
    background-color: rgba(202, 107, 72, 0.26);
}
#no-color-btn-follow-row div:nth-child(3){
    background-color: rgba(89, 104, 74, 0.233);
}

#yes-color-btn-follow-row div:first-child{
    background-color: rgb(70, 100, 145);
}
#yes-color-btn-follow-row div:nth-child(2){
    background-color: rgb(202, 107, 72);
}
#yes-color-btn-follow-row div:nth-child(3){
    background-color: rgb(89, 104, 74);
}
/* #yes-color-btn-follow-row div{
    background-color: rgb(71, 127, 233);
} */

.delete-co-btn{
    background-color: steelblue;
    width: 50px;
    float: left;
    text-align: center;
    margin: 5px;
    padding: 3px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.btn-co{

    width: 90px;
}
.btn-co-long{

    width: 170px;
}
.chitiet-co-btn{
    background-color: rgb(175, 156, 72);
    width: 90px;
    float: left;
    text-align: center;
    margin: 3px;
    padding: 1px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.phancongx-co-btn{
    background-color: rgb(66, 119, 60);
    width: 90px;
    float: left;
    text-align: center;
    margin: 3px;
    padding: 1px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.phancong-co-btn{
    background-color: rgb(60, 108, 211);
    width: 80px;
    float: left;
    text-align: center;
    margin: 5px;
    padding: 3px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}


.nav-page{
    position: relative;
    float: left;
    margin-top: 20px;
} 
.nav-page span{
    position: relative;
    padding: 6px  10px 4px 10px;
    border-radius: 2px;
    margin-right: 5px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

#chose-nav-item{
    background-color: rgb(168, 168, 168);
}

.Add-New-Row{
    margin-top: 10px;
    position: relative;
    float: left;
    height: auto;
    width: 100%;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0px 5px -7px black;
}

#label-add-new-row{
    float: left;
    margin-left: 10px;
    font-weight: bold;
}
#chose-option-more{
    float: left;
    margin-left: 20%;

    width: 100px;
}
#chose-option-more button{
    border-radius: 4px;
    float: left;
    width: 32px;

    height: auto;
    margin-left: 0;
    background-color: rgb(110, 65, 107);
}

#chose-option-more button svg{
    float: left;
    width: 17px;
    height: 17px;

}

.Add-New-Row div:not(.form-check){
    float: left;
    position: relative;
    width: 100%;

    margin-top: 10px;
}

.Add-New-Row div span:first-child:not(.label-item-add):not(.item-add-file-upload):not(.item-add-file-upload span){
    position: relative;
    width: 20%;
    float: left;
    padding-right: 10px;
    text-align: right;
    margin-top: 7px;

}

.Add-New-Row div span:nth-child(2):not(.item-add-file-upload, .item-add-file-upload span:last-child){
    position: relative;
    float: left;
    width: calc(70% - 100px);
    height: auto;
}

.Add-New-Row div button:not(.left_row_tb_btn, .select-have-btn, .add-file-add-row){
    position: relative;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 4px 7px;
    background-color: cornflowerblue;
    outline: none;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}


.Add-New-Row div button:first-child:not(.left_row_tb_btn , .add-file-add-row){
    margin-left: calc(20%);
}

.Add-New-Row div div:not(.one-row-item-add , .Add-New-Row div span div ) {
    position: relative;
    float: left;
    width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    padding-right: 10px;
}



.one-row-item-add{
    width: 500px;
}
/* .Add-New-Row div div:nth-child(1) , .Add-New-Row div div:nth-child(3){
    text-align: right;
    padding-right: 10px;

} */
.Add-New-Row div div:nth-child(1):not(.checkboxtag div ){
    margin-left: 50px;

}
.Add-New-Row div div:nth-child(2) , .Add-New-Row div div:nth-child(4){

}



.input-new-row-short{
    position: relative;
    float: left;
    width: calc(50% - 150px);
    padding: 4px 7px;
    height: 30px;
    outline: none;
    border: 1pt solid rgba(0, 0, 0, 0.294);
    margin-top: 4px;
}



.input-new-row-long{
    position: relative;
    float: left;
    width: calc(50% - 80px);
    margin-top: 4px;
    padding: 4px 7px;
    height: 30px;
    outline: none;
    border: 1pt solid rgba(0, 0, 0, 0.294);

}





.select-new-row{
    position: relative;
    float: left;
    width: calc(50% - 14px);
    padding: 4px 7px;
    height: 35px;
    outline: none;
}


#label-Add-New{
    position: relative;
    width: calc(100% + 1px);
    background-color:rgb(124, 124, 124);
    padding: 5px 0px;
    padding-left: 5px;
    margin: 0px;
    margin-left: -1px;
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius:3px;
}

.combo-box-add{
    background-color: white;
    padding: 8px;
    outline: none;
    width: 100px;
    height: auto;
}

.label-item-add{
    padding: 5px;
    float: left;
    text-align: left;
    background-color: rgb(224, 224, 224);
    border-radius: 3px;
}

.show-item-info{

    position: relative;
    width: 20%;
    float: left;
    padding-right: 10px;
    text-align: left ;
    margin-top: 7px;


}

.combo-box-add-long{
    background-color: white;
    padding: 8px;
    outline: none;
    width: auto;
    height: auto;
}

.thoigianform{
    padding: 5px;
    float: left;
    text-align: center;
    outline: none;
    border-radius: 4px;
    border: 1pt solid rgb(48, 48, 48);
}

.form-control:focus{
    outline: none;
}

.slide-select-lorm{
    position: relative;
    font-size: large;
    width: 400px;
    padding: 5px;
    border: 2px solid rgba(255, 154, 71, 0.664);
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}



.left_row_btn{
    width: 100%;

    padding-left: 0px;

}

.left_row_tb_btn{
    height: auto;
    width: auto;
    margin-left: 10px ;
    position: relative;
    float: left;
    margin-bottom: 10px;
    padding: 2px 5px;
    background-color: cornflowerblue;
    outline: none;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

.left_row_tb_btn:first-child{
    margin-left: 50px;

}




.Detail-project{
    position: relative;
    float: left;
    margin-top: 20px;
    width: 100%;
    height: auto;
    color: black;
}



.detail-doan{
    position: relative;
    margin-top: 10px;
    float: right;
    width: calc(50% - 0px);
    height: auto;
    background-color: white;
    padding: 10px 10px;
    border-radius: 3px;
}




.detail-doan div:not(.detail-doan div:first-child, .detail-doan div:nth-child(2)){
    float: left;
    margin-top: 10px;
    width: 100%;

}

.detail-doan div span:first-child{
    background-color: rgb(204, 204, 204);
    width: auto;
    float: left;
    padding: 2px 7px 3px 7px;
    border-radius: 4px;
    clear: both;
    overflow: hidden;
    font-size: 13px;
    margin-left: 10px;

}

.detail-doan div span:nth-child(2){
    float: left;
    background-color: rgb(204, 204, 204);
    margin-left: 5px;
    padding: 0px 5px;
}

.detail-doan div span:nth-child(2) svg{
    fill: rgb(53, 53, 53);
    width: 10px;
    height: 10px;
}


.detail-doan div span:nth-child(3){
    float: left;
    background-color: rgb(204, 204, 204);
    margin-left: 5px;
    padding: 0px 5px;
}

.detail-doan div span:nth-child(3) svg{
    fill: rgb(53, 53, 53);
    width: 10px;
    height: 10px;
}



.detail-doan div:first-child{
    float: left;
    background-color: none;
    color: rgb(47, 116, 20);
    margin-top: 6px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: 500;

}



#btn-update-detail-doan{
    cursor: pointer;
    position: relative;
    float: left;
    background-color: tomato;
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
    margin-top: 3px;
    font-size: small;
}




#info-sv{
    position: relative;
    float: left;
    height: auto;
    width: calc(40% - 10px);
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
    border-radius: 4px;
    padding-bottom: 10px;
}

#info-sv div{
    position: relative;
    width: auto;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 7px;
}
#info-sv div:first-child{
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(0, 89, 255);
    font-size: large;
    margin-bottom: 10px;
}



#info-doan{
    position: relative;
    float: left;
    height: auto;
    width: calc(40% - 10px);
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
}
#info-doan div{
    position: relative;
    width: auto;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 7px;
}


#info-doan div a{
    color: tomato;
    text-decoration: underline;
}


#info-doan span:nth-child(even){
    position: relative;
    float: left;

    width: 50%;
    margin-left: 10px;

    font-size: 14px;
}

#info-doan span:nth-child(odd){
    position: relative;
    float: right;
 

    width: 40%;
    margin-left: 10px;
    font-size: 14px;

}
/* 
p:nth-child(odd) {
    background: red;
  } */

#info-doan div:first-child{
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(255, 149, 11);
    font-size: large;
    margin-bottom: 10px;
}

#diem-doan{
    position: relative;
    float: left;
    height: auto;
    width: calc(20% - 0px);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
}

#diem-label{
    position: relative;
    float: left;
    margin-top: 14px;
    margin-left: 10px;
    font-size: 20px;
}


#number-diem{
    position: relative;
    float: left;
    font-size: 40px;
    margin-left: 10px;
    color: tomato;
}

#btn-update-diem{
    float: right;
    background-color: chocolate;
    font-size: small;
    position: relative;
    padding: 4px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

#info-diem-label{
    float: left;
    position: relative;
    width: 100%;
}

.Form-input-diem{
    display: none;
    position: absolute;
    z-index: 10;
    left: calc(50% - 150px);
    transform: translateX(calc(-50% - 150px));
    top: 50%;
    transform: translateY(-50%);
    height: 160px;
    width: 300px;
    background-color: rgb(252, 252, 252);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.329);
    border-radius: 4px;
}

.Form-input-diem div:only-child{
    position: relative;
    float: left;
    margin-top: 30px;
    margin-left: 25px;
    width: auto;

    width: 250px;
}

.Form-input-diem div div:first-child{
    position: relative;
    float: left;
    left: 50%;
    transform: translateX(-50%);

}

.Form-input-diem div div:first-child span:first-child{
    position: relative;
    float: left;

    font-size: 18px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: cornflowerblue;
    font-weight: bolder;
    margin-top: 3px;
}

.Form-input-diem div:only-child div:last-child{
    position: relative;

    float: left;
    width: 100%;
    left: 50%;
    width: 200px;
    transform: translateX(-50%);
    margin-top: 35px
}



#btn-nhap-diem , #btn-thoat-diem{
    position: relative;
    float: left;
    background-color: tomato;
    padding: 5px 10px;
    margin-left: 17px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

#btn-thoat-diem{
    background-color: seagreen;
}


.Form-input-diem div input{
    position: relative;
    float: left;
    padding: 4px 5px;
    width: 70px;
    margin-left: 10px;
}

.shadow-input-diem{
    display: none;
    position: absolute;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.493);
    width: 100%;
    height: 100%;
}

.title-chon-khoa{
    float: left;
    margin-top: 8px;
    margin-right: 7px;
    color: rgb(85, 85, 85);
    font-weight: bold;
}


.Form-upload-file{
    display: none;
    position: absolute;
    z-index: 10;
    left: calc(50% - 150px);
    transform: translateX(calc(-50% - 150px));
    top: 50%;
    transform: translateY(-50%);
    height: 160px;
    width: 400px;
    background-color: rgb(252, 252, 252);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.329);
    border-radius: 4px;
}

#contain-form-group{
    float: left;
    width: 70%;
    margin-left: 15%;
    margin-top: 10%;
}

#btn-upload-file{
    position: relative;
    cursor: pointer;
    float: left;
    background-color: cornflowerblue;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    left: 50%;
    transform: translateX(-50%);
}








.LoadingVideo_Content{
    position: absolute; 
    height: 50px;            /*change*/
    width: 50px;             /*change*/
    left: calc(50% - 25px);  /*change*/
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;  
    margin-top: 25px;
    display: none;
}
.LoadingVideo{
    position: absolute; 
    height: 50px;            /*change*/
    width: 50px;             /*change*/
    left: calc(50% - 25px);  /*change*/
    top: 70px;
    z-index: 1;

 }
.Wrap_loading{
    position: relative;
    width: 100%;
    height: 100%;
    animation: rotate_spin_loading 0.9s linear infinite;
    opacity: 0.8;

}
@keyframes rotate_spin_loading {
      0% { transform: (0deg) }
      100% { transform: rotate(360deg) }
    } 
.Loading{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -00%;              /*change*/
    left: -00%;             /*change*/
    border: 10px solid;    /*change*/
    border-color: rgb(46, 46, 46) transparent rgb(46, 46, 46)  transparent;
    border-radius: 50%;
    transform: rotate(45deg);

}

#cor_one:before{
    content: "";
    position: absolute;
    left:  50%;
    transform: translateX(-50%);
    top: 0.5%;/*change*/
    width: 19%;/*change*/
    height: 19%;/*change*/
    border-radius: 50%;
    background-color: rgb(46, 46, 46);
}

#cor_one:after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5%;/*change*/
    width: 19%;/*change*/
    height: 19%;/*change*/
    border-radius: 50%;
    background-color: rgb(46, 46, 46) ;
}

#cor_two:before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5%;/*change*/
    width: 19%;/*change*/
    height: 19%;/*change*/
    border-radius: 50%;
    background-color: rgb(46, 46, 46) ;
}

#cor_two:after{
    content: "";
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 0.5%;/*change*/
    width: 19%;/*change*/
    height: 19%;/*change*/
    border-radius: 50%;
    background-color: rgb(46, 46, 46) ;
}

#customiframe{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.select-have-btn{
    position: relative;
    float: left;
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 10px;
    padding: 4px 7px;
    background-color: rgb(226, 130, 149);
    outline: none;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

.label-select-havebtn{
    position: relative;
    float: left;
    background-color: rgb(201, 201, 201);
    width: 400px;
}


.item-add-file-upload:not(){
    position: relative;
    float: left;
    width: auto;
    margin-right: 10px;

}
.item-add-file-upload span:first-child{
    position: relative;
    float: left;
    background-color: rgb(226, 226, 226);
    padding: 3px 7px;
    max-width: 170px;
    border-radius: 4px;
    margin-top: 6px;
    font-size: 11px;
    line-height: 20px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;

}
.item-add-file-upload span:last-child{
    position: relative;
    float: left;
    margin-left: 4px;
    margin-top: 12px;
    width: auto;
    border-radius: 4px;
}

.item-add-file-upload span:last-child svg{
    fill: rgb(100, 100, 100);
    cursor: pointer;
}

.add-file-add-row{
    background-color: tomato;
    padding: 4px 7px;
    border-radius: 3px;
    outline: none;
    font-size: 13px;
    color: white;
    border: none;
    margin-top: 6px;
    float: left;
    margin-right: 10px;
}

#label-table{
    color: rgb(24, 24, 24);
    margin-left: 1px;
}

#thongtin-doan{
    position: relative;
    float: left;
    width: 50%;
    font-size: 13px;
    font-weight: 400;
    background-color: white;
    border-radius: 4px;
}

#thongtin-doan div:first-child{
    color: royalblue;
    font-size: 17px;
    margin-top: 7px;
    margin-left: 10px;
}

#thongtin-doan div:not(#thongtin-doan div:first-child){
    margin-left: 20px;
    margin-top: 9px;
    position: relative;
    
}


#thongtin-doan-doan span{
    position: relative;
    float: left;
    width: 100%;
    margin-left: 35px;
    margin-top: 7px;
}

#thongtin-doan-doan span a{
    color: tomato;
    text-decoration: underline;
}



#thongtin-sv{
    position: relative;
    float: left;
    width: calc(50% - 10px);
    margin-left: 10px;
    font-size: 13px;
    font-weight: 400;
    background-color: white;
    border-radius: 4px;
}


#thongtin-sv div:first-child{
    color: tomato;
    font-size: 17px;
    margin-top: 7px;
    margin-left: 10px;
}

#thongtin-sv div:not(#thongtin-sv div:first-child){
    margin-left: 20px;
    margin-top: 9px;
    position: relative;
    
}


.select-sinh-vien{
    margin-top: 10px;
    position: relative;
    width: calc(50% - 10px);
    margin-left: 10px;
    float: left;
}


.phancong-sinhvien-doan-btn{
    margin-top: 5px;
    width: auto;
    float: right;
    text-align: center;
    margin-top: 5px;
    padding: 3px 7px;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: 500;
    outline: none;
    background-color: blueviolet;
}











#info-doan-sv{
    position: relative;
    float: left;
    width: calc(50% - 10px);
    font-size: 15px;
    font-weight: 400;
    background-color: white;
    border-radius: 4px;
    padding-bottom: 20px;
}
#info-doan-sv div:first-child{
    color: royalblue;
    font-size: 17px;
    margin-top: 7px;
    margin-left: 10px;
    font-weight: bold;
}
#info-doan-sv div:not(#info-doan-sv div:first-child){
    margin-left: 20px;
    margin-top: 9px;
    position: relative;
    
}
#info-doan-sv div a{
    color: tomato;
    text-decoration: underline;
}


#info-doan-sv span{
    margin-left: 35px;
    margin-top: 5px;
    width: 100%;
    font-size: 13px;
    float: left;
    position: relative;
    
}

#info-doan-sv span button{
    background-color: tomato;
    outline: none;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    padding: 3px 5px;
    cursor: pointer;
    
}



#info-diem-doan-sv{
    position: relative;
    float: left;
    width: 50%;
    font-size: 15px;
    font-weight: 400;
    background-color: white;
    border-radius: 4px;
    padding-bottom: 20px;
    margin-left: 10px;
}
#info-diem-doan-sv div:first-child{
    color: tomato;
    font-size: 17px;
    margin-top: 7px;
    margin-left: 10px;
    font-weight: bold;
}
#info-diem-doan-sv div:not(#info-diem-doan-sv div:first-child){
    margin-left: 20px;
    margin-top: 9px;
    position: relative;
    
}
#info-diem-doan-sv div table tr td{
    padding: 3px;
}
.up-file-baocao{
    position: relative;
    margin-top: 10px;
    float: right;
    width: calc(50% - 0px);
    height: auto;
    background-color: white;
    padding: 10px 10px;
    border-radius: 3px;
}
#check-box-baocao{
    float: left;
    margin-top: 5px;
    width: calc(100% - 20px);
    margin-left: 3px;

}

#cap-nhat-baocao{
    float: right;
    padding: 5px;
    background-color: cornflowerblue;
    margin-top: 10px;
    font-size: 12px;
    border: none;
    outline: none;
    color: white;
    border-radius: 3px;
}






#diem-doan-phancong-admin{
    position: relative;
    float: right;
    width: 50%;
    font-size: 15px;
    font-weight: 400;
    background-color: white;
    margin-right: 7px;
    margin-top: 1px;
    padding-bottom: 20px;


}

#diem-doan-phancong-admin div:first-child{
    color: rgb(39, 167, 81);
    font-size: 17px;
    margin-top: 7px;
    margin-left: 10px;
}

#diem-doan-phancong-admin div:not(#diem-doan-phancong-admin div:first-child){
    margin-left: 20px;
    margin-top: 9px;
    position: relative;
    
}

#btn-upfile-label{
    padding: 1px 10px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: tomato;
    float: right;
    margin-right: 7px;
    cursor: pointer;
}



.Form-input-file{
    display: none;
    position: absolute;
    z-index: 10;
    left: calc(50% - 150px);
    transform: translateX(calc(-50% - 150px));
    top: 50%;
    transform: translateY(-50%);
    height: 300px;
    width: 300px;
    background-color: rgb(252, 252, 252);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.329);
    border-radius: 4px;
}


.up-file-tailieu{
    position: relative;
    float: left;
    margin-left: 15%;
    width: calc(100% - 15%);
    height: auto;
    background-color: white;
    border-radius: 3px;
    margin-top: -10px;
}